
/* .MuiBox-root {
  margin-left: 560px;
  margin-right:150px;
} */

.exercise .ui.card {
  width: 33%;
  max-width: 380px;
  left: 50px;
}

.card.m-auto, .m-auto {
  margin: 20px auto;
}

.ui.raised .card.m-auto{ 
  padding-left: 40px;
  padding-right: 40px;
}
.MuiGrid-grid-xs-6{
  flex-grow: 0;
  /* max-width: 100%;
  flex-basis: 100%; */
  /* background-color: gray; */
  width: 50%;
  margin: 40px;
}

